USE [master]
GO
/****** Object:  Database [NEPTUNO22s]    Script Date: 9/08/2022 18:31:23 ******/

if db_id('NEPTUNO22') is not null
	drop database NEPTUNO22
go
CREATE DATABASE [NEPTUNO22]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NEPTUNO22', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NEPTUNO22.mdf' , SIZE = 139264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NEPTUNO22_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NEPTUNO22_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NEPTUNO22].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NEPTUNO22]
GO
/****** Object:  Table [dbo].[Categorías]    Script Date: 9/08/2022 18:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorías](
	[IdCategoría] [int] NOT NULL PRIMARY KEY,
	[NombreCategoría] [nvarchar](15) NOT NULL,
	[Descripción] [nvarchar](max) NULL,
	[Imagen] [image] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 9/08/2022 18:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [char](5) NOT NULL PRIMARY KEY,
	[NombreCompañía] [nvarchar](40) NOT NULL,
	[NombreContacto] [nvarchar](30) NULL,
	[CargoContacto] [nvarchar](30) NULL,
	[Dirección] [nvarchar](60) NULL,
	[Ciudad] [nvarchar](15) NULL,
	[Región] [nvarchar](15) NULL,
	[CódPostal] [nvarchar](10) NULL,
	[País] [nvarchar](15) NULL,
	[Teléfono] [nvarchar](24) NULL,
	[Fax] [nvarchar](24) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compañías de envíos]    Script Date: 9/08/2022 18:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compañías de envíos](
	[IdCompañíaEnvíos] [int] NOT NULL PRIMARY KEY,
	[NombreCompañía] [nvarchar](40) NOT NULL,
	[Teléfono] [nvarchar](24) NULL
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Empleados]    Script Date: 9/08/2022 18:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[IdEmpleado] [int] NOT NULL primary key,
	[Apellidos] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](10) NOT NULL,
	[Cargo] [nvarchar](30) NULL,
	[Tratamiento] [nvarchar](25) NULL,
	[FechaNacimiento] [datetime] NULL,
	[FechaContratación] [datetime] NULL,
	[Dirección] [nvarchar](60) NULL,
	[Ciudad] [nvarchar](15) NULL,
	[Región] [nvarchar](15) NULL,
	[CódPostal] [nvarchar](10) NULL,
	[País] [nvarchar](15) NULL,
	[TelDomicilio] [nvarchar](24) NULL,
	[Extensión] [nvarchar](4) NULL,
	[Foto] [nvarchar](255) NULL,
	[Notas] [nvarchar](max) NULL,
	[Jefe] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 9/08/2022 18:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[IdPedido] [int] NOT NULL primary key,
	[IdCliente] [char](5) NOT NULL REFERENCES CLIENTES ,
	[IdEmpleado] [int] NULL  REFERENCES EMPLEADOS,
	[FechaPedido] [datetime] NULL,
	[FechaEntrega] [datetime] NULL,
	[FechaEnvío] [datetime] NULL,
	[FormaEnvío] [int] NULL,
	[Cargo] [money] NULL,
	[Destinatario] [nvarchar](40) NULL,
	[DirecciónDestinatario] [nvarchar](60) NULL,
	[CiudadDestinatario] [nvarchar](15) NULL,
	[RegiónDestinatario] [nvarchar](15) NULL,
	[CódPostalDestinatario] [nvarchar](10) NULL,
	[PaísDestinatario] [nvarchar](15) NULL
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Proveedores]    Script Date: 9/08/2022 18:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[IdProveedor] [int] NOT NULL primary key,
	[NombreCompañía] [nvarchar](40) NOT NULL,
	[NombreContacto] [nvarchar](30) NULL,
	[CargoContacto] [nvarchar](30) NULL,
	[Dirección] [nvarchar](60) NULL,
	[Ciudad] [nvarchar](15) NULL,
	[Región] [nvarchar](15) NULL,
	[CódPostal] [nvarchar](10) NULL,
	[País] [nvarchar](15) NULL,
	[Teléfono] [nvarchar](24) NULL,
	[Fax] [nvarchar](24) NULL,
	[PáginaPrincipal] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 9/08/2022 18:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IdProducto] [int] NOT NULL primary key,
	[NombreProducto] [nvarchar](40) NOT NULL,
	[IdProveedor] [int] NULL references PROVEEDORES,
	[IdCategoría] [int] NULL references [Categorías],
	[CantidadPorUnidad] [nvarchar](20) NULL,
	[PrecioUnidad] [money] NULL,
	[UnidadesEnExistencia] [smallint] NULL,
	[UnidadesEnPedido] [smallint] NULL,
	[NivelNuevoPedido] [int] NULL,
	[Suspendido] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalles de pedidos]    Script Date: 9/08/2022 18:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalles de pedidos](
	[IdPedido] [int] not NULL REFERENCES PEDIDOS,
	[IdProducto] [int] NOT NULL REFERENCES PRODUCTOS,
	[PrecioUnidad] [money] NOT NULL,
	[Cantidad] [smallint] NOT NULL,
	[Descuento] [real] NOT NULL
	--PRIMARY KEY ([IdPedido],[IdProducto])
) ON [PRIMARY]
GO




INSERT [dbo].[Clientes] ([IdCliente], [NombreCompañía], [NombreContacto], [CargoContacto], [Dirección], [Ciudad], [Región], [CódPostal], [País], [Teléfono], [Fax]) VALUES (N'ALFKI', N'Alfreds Futterkiste', N'Maria Anders', N'Representante de ventas', N'Obere Str. 57', N'Berlín', NULL, N'12209', N'Alemania', N'030-0074321', N'030-0076545')
INSERT [dbo].[Clientes] ([IdCliente], [NombreCompañía], [NombreContacto], [CargoContacto], [Dirección], [Ciudad], [Región], [CódPostal], [País], [Teléfono], [Fax]) VALUES (N'ANATR', N'Ana Trujillo Emparedados y helados', N'Ana Trujillo', N'Propietario', N'Avda. de la Constitución 2222', N'México D.F.', NULL, N'05021', N'México', N'(5) 555-4729', N'(5) 555-3745')
INSERT [dbo].[Clientes] ([IdCliente], [NombreCompañía], [NombreContacto], [CargoContacto], [Dirección], [Ciudad], [Región], [CódPostal], [País], [Teléfono], [Fax]) VALUES (N'ANTON', N'Antonio Moreno Taquería', N'Antonio Moreno', N'Propietario', N'Mataderos  2312', N'México D.F.', NULL, N'05023', N'México', N'(5) 555-3932', NULL)
GO
INSERT [dbo].[Compañías de envíos] ([IdCompañíaEnvíos], [NombreCompañía], [Teléfono]) VALUES (1, N'Speedy Express', N'(503) 555-9831')
INSERT [dbo].[Compañías de envíos] ([IdCompañíaEnvíos], [NombreCompañía], [Teléfono]) VALUES (2, N'United Package', N'(503) 555-3199')
INSERT [dbo].[Compañías de envíos] ([IdCompañíaEnvíos], [NombreCompañía], [Teléfono]) VALUES (3, N'Federal Shipping', N'(503) 555-9931')
GO

INSERT [dbo].[Proveedores] ([IdProveedor], [NombreCompañía], [NombreContacto], [CargoContacto], [Dirección], [Ciudad], [Región], [CódPostal], [País], [Teléfono], [Fax], [PáginaPrincipal]) VALUES (1, N'Exotic Liquids', N'Charlotte Cooper', N'Gerente de compras', N'49 Gilbert St.', N'Londres', NULL, N'EC1 4SD', N'Reino Unido', N'(171) 555-2222', NULL, NULL)
INSERT [dbo].[Proveedores] ([IdProveedor], [NombreCompañía], [NombreContacto], [CargoContacto], [Dirección], [Ciudad], [Región], [CódPostal], [País], [Teléfono], [Fax], [PáginaPrincipal]) VALUES (2, N'New Orleans Cajun Delights', N'Shelley Burke', N'Administrador de pedidos', N'P.O. Box 78934', N'New Orleans', N'LA', N'70117', N'Estados Unidos', N'(100) 555-4822', NULL, NULL)
INSERT [dbo].[Proveedores] ([IdProveedor], [NombreCompañía], [NombreContacto], [CargoContacto], [Dirección], [Ciudad], [Región], [CódPostal], [País], [Teléfono], [Fax], [PáginaPrincipal]) VALUES (3, N'Grandma Kelly''s Homestead', N'Regina Murphy', N'Representante de ventas', N'707 Oxford Rd.', N'Ann Arbor', N'MI', N'48104', N'Estados Unidos', N'(313) 555-5735', N'(313) 555-3349', NULL)
GO

INSERT [dbo].[Productos] ([IdProducto], [NombreProducto], [IdProveedor], [IdCategoría], [CantidadPorUnidad], [PrecioUnidad], [UnidadesEnExistencia], [UnidadesEnPedido], [NivelNuevoPedido], [Suspendido]) VALUES (1, N'Té Dharamsala', 1, 1, N'10 cajas x 20 bolsas', 18.0000, 39, 0, 10, 0)
INSERT [dbo].[Productos] ([IdProducto], [NombreProducto], [IdProveedor], [IdCategoría], [CantidadPorUnidad], [PrecioUnidad], [UnidadesEnExistencia], [UnidadesEnPedido], [NivelNuevoPedido], [Suspendido]) VALUES (2, N'Cerveza tibetana Barley', 1, 1, N'24 - bot. 12 l', 19.0000, 17, 40, 25, 0)
INSERT [dbo].[Productos] ([IdProducto], [NombreProducto], [IdProveedor], [IdCategoría], [CantidadPorUnidad], [PrecioUnidad], [UnidadesEnExistencia], [UnidadesEnPedido], [NivelNuevoPedido], [Suspendido]) VALUES (3, N'Sirope de regaliz', 1, 2, N'12 - bot. 550 ml', 10.0000, 13, 70, 25, 0)
GO


INSERT [dbo].[Pedidos] ([IdPedido], [IdCliente], [IdEmpleado], [FechaPedido], [FechaEntrega], [FechaEnvío], [FormaEnvío], [Cargo], [Destinatario], [DirecciónDestinatario], [CiudadDestinatario], [RegiónDestinatario], [CódPostalDestinatario], [PaísDestinatario]) VALUES (10248, N'WILMK', 5, CAST(N'1996-07-04T00:00:00.000' AS DateTime), CAST(N'1996-08-01T00:00:00.000' AS DateTime), CAST(N'1996-07-16T00:00:00.000' AS DateTime), 3, 32.3800, N'Wilman Kala', N'Keskuskatu 45', N'Helsinki', NULL, N'21240', N'Finlandia')
INSERT [dbo].[Pedidos] ([IdPedido], [IdCliente], [IdEmpleado], [FechaPedido], [FechaEntrega], [FechaEnvío], [FormaEnvío], [Cargo], [Destinatario], [DirecciónDestinatario], [CiudadDestinatario], [RegiónDestinatario], [CódPostalDestinatario], [PaísDestinatario]) VALUES (10249, N'TOMSP', 6, CAST(N'1996-07-05T00:00:00.000' AS DateTime), CAST(N'1996-08-16T00:00:00.000' AS DateTime), CAST(N'1996-07-10T00:00:00.000' AS DateTime), 1, 11.6100, N'Toms Spezialitäten', N'Luisenstr. 48', N'Münster', NULL, N'44087', N'Alemania')
INSERT [dbo].[Pedidos] ([IdPedido], [IdCliente], [IdEmpleado], [FechaPedido], [FechaEntrega], [FechaEnvío], [FormaEnvío], [Cargo], [Destinatario], [DirecciónDestinatario], [CiudadDestinatario], [RegiónDestinatario], [CódPostalDestinatario], [PaísDestinatario]) VALUES (10250, N'HANAR', 4, CAST(N'1996-07-08T00:00:00.000' AS DateTime), CAST(N'1996-08-05T00:00:00.000' AS DateTime), CAST(N'1996-07-12T00:00:00.000' AS DateTime), 2, 65.8300, N'Hanari Carnes', N'Rua do Paço, 67', N'Río de Janeiro', N'RJ', N'05454-876', N'Brasil')
GO



INSERT [dbo].[Detalles de pedidos] ([IdPedido], [IdProducto], [PrecioUnidad], [Cantidad], [Descuento]) VALUES (10248, 11, 14.0000, 12, 0)
INSERT [dbo].[Detalles de pedidos] ([IdPedido], [IdProducto], [PrecioUnidad], [Cantidad], [Descuento]) VALUES (10248, 42, 9.8000, 10, 0)
INSERT [dbo].[Detalles de pedidos] ([IdPedido], [IdProducto], [PrecioUnidad], [Cantidad], [Descuento]) VALUES (10248, 72, 34.8000, 5, 0)
GO


USE [master]
GO
